{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "expect": true,
    "should": true,
    "step": true,
    "__static": true
  },
  "rules": {
    "no-unused-expressions": 0,
    // overwrite file naming rules to support 2 dots simbols in file name (ex:  file-name.spec.js)
    "filenames/match-regex": [2, "^[a-z-]+.+$", true]
  }
}
